@import "~antd/dist/antd.less";

.App {
	background-color: #263238;
}

.hero {
	// height: 70vh;
	background: linear-gradient(170deg, #84ffff, #18ffff, #263238, #263238);
	background-blend-mode: multiply;
}

.hero-image {
	margin-top: 100px;
	width: 100%;
	transform: scaleX(-1);
}

.feature-card {
	margin: 0 15% 25px 15%;
}

.ant-card-head {
	background-color: #18ffff;
	font-weight: bold;
}
.ant-card-body {
	background-color: #263238;
	color: white;
}

label.ant-form-item-required {
	color: white;
}
@media only screen and (max-width: 768px) {
	.hero-image {
		margin-top: 0px;
	}
	.feature-card {
		margin: 0 5% 25px 5%;
	}
}

.notification-color {
	color: black;
}
