@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
	background-color: #111;
}

.title {
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
	.title {
		font-size: 20px;
	}
}

.hero-logo {
	-webkit-filter: drop-shadow(5px 5px 5px #263238);
	filter: drop-shadow(2px 2px 10px #263238);
}

.hero-brand {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 100px;
	line-height: 0.75;
	margin: 10px 0;
	font-weight: 900;
}

@media only screen and (max-width: 768px) {
	.hero-brand {
		font-size: 60px;
	}
	.title {
		height: 90vh;
	}
	.hero-text {
		margin: 0px 25px 25px 25px;
		font-size: 25px;
	}
	.hero-sub-title {
		font-size: 20px;
	}
}

@media only screen and (min-width: 768px) {
	.hero-text {
		margin: 0px 70px 25px 70px;
		font-size: 30px;
	}
	.hero-sub-title {
		font-size: 25px;
	}
}

.hero-sub-title {
	animation: color-change 2s forwards;
}

@keyframes color-change {
	0% {
		opacity: 0;
		transform: scale(2);
		transition: all 0.3s ease-in-out 0.2s;
	}
	100% {
		opacity: 1;
		transform: scale(1);
		transition: all 0.3s ease-in-out 0.2s;
	}
}

/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #fff;
	transition: 0.35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #fff;
	color: #122;
}
